.leaflet-container {
    height: 1024px;
    width: 100%;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}

.maps {
    padding: 10px;
    margin-top: 10px;
    position: fixed;
    width: 1500px;
    height: 750px;
}