.leaflet-container {
    height: 1024px;
    width: 100%;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}

.maps {
    padding: 10px;
    margin-top: 10px;
    position: fixed;
    width: 1500px;
    height: 750px;

}

.TitlePopup{
    text-align: center;
    line-height: 1.5;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
}

.ContentPopup{
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}