.container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    align-items: center;
}

.selectBox-container {
    align-content: center;
    display: grid;
    grid-template-columns: 180px 180px;
    gap: 10px;
}

.selectBox{
    text-align: left;
    font-size: 12px;
  }


.titleFilter{
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
